.container {
  margin: 5%;
  width: auto;
  height: 800px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 2em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.title {
  font-size: 6em;
  font-family: sans-serif;
  margin: .5em;
}

.timer {
  align-self: flex-start;
  width: 70px;
  height: 70px;
  margin-left: 100px;
  margin-top: -200px;
  background-color: #77002e;
  padding: 50px;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}